{{- if .Values.postgres }}
{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "skyflo.fullname" . }}-postgres-headless
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "skyflo.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
  - port: 5432
    targetPort: postgres
    protocol: TCP
    name: postgres
  selector:
    app: {{ include "skyflo.fullname" . }}-postgres
{{- end }}
{{- end }}
