apiVersion: v1
kind: Service
metadata:
  name: skyflo-ai-engine
  namespace: skyflo-ai
spec:
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  type: ClusterIP
  selector:
    app: skyflo-ai-engine
