apiVersion: v1
kind: Service
metadata:
  name: skyflo-ai-postgres-headless
  namespace: skyflo-ai
spec:
  clusterIP: None
  ports:
  - port: 5432
    targetPort: postgres
    protocol: TCP
    name: postgres
  selector:
    app: skyflo-ai-postgres
