apiVersion: v1
kind: Service
metadata:
  name: skyflo-ai-redis
  namespace: skyflo-ai
spec:
  ports:
  - port: 6379
    targetPort: redis
    protocol: TCP
    name: redis
  selector:
    app: skyflo-ai-redis
